
<div class="overflow-hidden rounded-lg border border-gray-200 shadow-md m-5">
  <table class="w-full border-collapse bg-white text-left text-sm text-gray-500">
    <thead class="bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900">Customer</th>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900">DOB</th>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900"></th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-100 border-t border-gray-100">
      <% @customers.each do |customer| %>
        <%= render "customers/customer", customer: customer %>        
      <% end %>
    </tbody>
  </table>
</div>