<h1>Customer <%= @current_user.name.capitalize %></h1>



<div>
<%= link_to "Back to customers", customers_path %><br><br>
<%= button_to "Delete Account", customer_path(@current_user) , method: :delete %>
</div>
