<h2>Customer</h2>

<p> Your order has been delivered. Please accept once you received.</p>
<p>Please Click on the link to accept : <a href="http://localhost:3000/mark_delivered?customer=<%= @customer.id %>&product=<%= @product.id %>">Accepted</a></p>