<div id="<%= dom_id review %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Text:</strong>
    <%= review.text %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Creator:</strong>
    <%= review.creator %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Product:</strong>
    <%= review.product.name %>
  </p>
</div>
